@import './sass/colors';
@import './sass/mixins';

.Header {

  &-Content {
    display: flex;

    @include media-breakpoint-down(sm) {
      margin: 20px 0;
    }
  }

  &-Logo {
    width: 96px;
    margin-right: 140px;
  }
}
