@import './sass/colors';
@import './sass/mixins';

.Header-Navigation {
  display: flex;
  flex: 1;
  justify-content: space-between;

  @include media-breakpoint-down(sm) {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 1001;
    width: 80%;
    height: 100vh;
    top: 0;
    right: 0;
    padding: 32px 32px 32px 64px;
    background-color: rgba($primary-1, 0.9);
    transform: translateX(100%);
    transition: transform 0.3s, opacity 0.3s;
  }

  &_open {
    @include media-breakpoint-down(sm) {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  .NavigationList {
    display: flex;
    flex-direction: column;
    padding-left: 0;

    @include media-breakpoint-up(md) {
      flex-direction: row;
    }

    &__left {
      flex: 1;

      @include media-breakpoint-down(sm) {
        flex: unset;
      }
    }

    &__right {
      width: 170px;
      justify-content: flex-end;

      .NavigationItem {

        & + .NavigationItem {

          @include media-breakpoint-up(md) {
            margin-left: 8px;
          }
        }
      }
    }
  }

  .NavigationItem {
    display: flex;
    align-items: center;

    & + .NavigationItem {
      margin-top: 16px;

      @include media-breakpoint-up(md) {
        margin-top: 0;
        margin-left: 32px;
      }
    }

    .Link {
      font-weight: 500;
      color: $dark-blue-1;
      text-decoration: none;

      @include media-breakpoint-down(sm) {
        font-size: 14px;
        color: #FFF;
        line-height: 20px;
      }
    }
  }

  .NavigationItem {
    flex-shrink: 0;

    &_active, &:hover {
      .Link {
        color: $primary-1;

        @include media-breakpoint-down(sm) {
          color: $dark-gray-1;
        }
      }
    }
  }
}
