//
// Grayscale
//

$dark-gray-1: #1F252D;
$dark-gray-2: #393E44;
$dark-gray-3: #54585E;
$dark-gray-4: #6E7278;

$medium-gray-1: #888C91;
$medium-gray-2: #9DA1A6;
$medium-gray-3: #B2B6BB;
$medium-gray-4: #C7CBD0;

$light-gray-1: #D5D6D8;
$light-gray-2: #DFE0E1;
$light-gray-3: #E9EAEB;
$light-gray-4: #F5F5F5;

//
// Theme
//

$dark-blue-1: #182049;
$dark-blue-2: #2C345C;
$dark-blue-3: #41496E;
$dark-blue-4: #555E80;

$primary-1: #1E66D2;
$primary-2: #5D95E4;
$primary-3: #A0C3F2;
$primary-4: #EFF4FB;

$secondary-1: #30C3D9;
$secondary-2: #6AD9E8;
$secondary-3: #A8ECF4;
$secondary-4: #EFF9FB;

$green: #4DC75D;
$red: #E34C49;
$yellow: #F9D354;
