@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/Gilroy/Gilroy-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 900;
  src: url('/static/fonts/Gilroy/Gilroy-Heavy.ttf') format('opentype');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: url('/static/fonts/Gilroy/Gilroy-Light.ttf') format('opentype');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  src: url('/static/fonts/Gilroy/Gilroy-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/Gilroy/Gilroy-Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src: url('/static/fonts/Inter/Inter-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  src: url('/static/fonts/Inter/Inter-BlackItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/Inter/Inter-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  src: url('/static/fonts/Inter/Inter-BoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('/static/fonts/Inter/Inter-ExtraBold.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 800;
  src: url('/static/fonts/Inter/Inter-ExtraBoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('/static/fonts/Inter/Inter-ExtraLight-BETA.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  src: url('/static/fonts/Inter/Inter-ExtraLightItalic-BETA.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  src: url('/static/fonts/Inter/Inter-Italic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  src: url('/static/fonts/Inter/Inter-Light-BETA.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 300;
  src: url('/static/fonts/Inter/Inter-LightItalic-BETA.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/static/fonts/Inter/Inter-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  src: url('/static/fonts/Inter/Inter-MediumItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/Inter/Inter-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('/static/fonts/Inter/Inter-SemiBold.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  src: url('/static/fonts/Inter/Inter-SemiBoldItalic.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  src: url('/static/fonts/Inter/Inter-Thin-BETA.otf') format('opentype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100;
  src: url('/static/fonts/Inter/Inter-ThinItalic-BETA.otf') format('opentype');
}
